# Python virtual environment
venv/
env/
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Playwright specific
**/playwright/driver/
**/playwright/.local-browsers/

# Environment variables
.env
.env.local

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 